<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>in.yagnyam.digid.RegisterEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <welcome-file-list>
        <welcome-file>WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>
	
	<filter>
	    <filter-name>ObjectifyFilter</filter-name>
	    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ObjectifyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Key Setup -->
    <servlet>
        <servlet-name>SetupKeysServlet</servlet-name>
        <servlet-class>in.yagnyam.digid.SetupKeysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetupKeysServlet</servlet-name>
        <url-pattern>/admin/setup-keys</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>ViewKeysJsp</servlet-name>
		<jsp-file>/WEB-INF/admin/keys.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewKeysJsp</servlet-name>
		<url-pattern>/admin/keys</url-pattern>
	</servlet-mapping>

    <!-- Users Setup -->
    <servlet>
        <servlet-name>SetupPersonsServlet</servlet-name>
        <servlet-class>in.yagnyam.digid.SetupPersonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetupPersonsServlet</servlet-name>
        <url-pattern>/admin/setup-persons</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewPersonsJsp</servlet-name>
        <jsp-file>/WEB-INF/admin/persons.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPersonsJsp</servlet-name>
        <url-pattern>/admin/persons</url-pattern>
    </servlet-mapping>


    <!-- Register -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>in.yagnyam.digid.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/validate-and-register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterJsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterJsp</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>


</web-app>